---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutUs from '../components/AboutUs.astro';
import Latest from '../components/Latest.astro';
import { getLatestPosts } from '../lib/api';

interface PostType {
  id: string;
  title: string;
  // Add other properties as needed
}

const items = await getLatestPosts();
const posts: PostType[] = items.posts.nodes;
---
<Layout title="Welcome to Astro.">
  <main>
    <Nav />
    <HeroSection />
    <AboutUs />

    <div class="" id="latest-articles">
      <div class="">
        <h2 class="latest-article-heading">Latest Articles</h2>

        <div class="latest-post-container">
          {posts.map((post: PostType) => (
            <Latest post={post} />
          ))}
        </div>
      </div>
    </div>
  </main>
</Layout>;
