---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutUs from '../components/AboutUs.astro';
import Latest from '../components/Latest.astro';
import { getLatestPosts } from '../lib/api';


const items = await getLatestPosts();
//console.log(items);
const posts = items.posts.nodes;
//console.log(posts);
---

<Layout title="Welcome to Astro.">
	<main>
		<Nav />
		<HeroSection />
		<AboutUs />

		<div class="" id="latest-articles">
			<div class="">
			<h2 class="latest-article-heading">Latest Articles</h2>
			
			
			<div class="latest-post-container">

			{
				posts.map(post => {
					return (
					<Latest post= {post}></Latest>
					)
				})
			}

		</div>
		</div>

	</main>
</Layout>


