<div class="d-md-flex justify-between gap-5" id="about-us">
    <div class="" style="flex-basis:40%">
    <figure class="wp-block-image size-full"><img decoding="async" width="658" height="559" src="/about.webp" alt="" class="wp-image-161" style="width: 100%;"></figure>
    </div>
    
    
    
    <div class="" style="flex-basis:55%">
    <p class="title">About Us</p>
    
    
    
    <h2 class="wp-block-heading sub-title">Illuminating Your Online Success</h2>
    
    
    
    <p class="content">At Star Web Front, we are a passionate team of marketing and web development experts, dedicated to empowering businesses with a remarkable online presence. Our mission is to shine a spotlight on your brand and help you reach new heights in the digital landscape. From web design that captivates to marketing strategies that deliver real results, we are your one-stop destination for all things digital.</p>
    
    
    
    <div class="d-md-flex gap-5">
    <div class="">
    <p class="about-sub-block-title">Our Mission</p>
    
    
    
    <p class="content">At Star Web Front, our mission is crystal clear: we exist to guide businesses of all sizes on their journey to digital brilliance. </p>
    </div>
    
    
    
    <div class="">
    <p class="about-sub-block-title">Our Purpose</p>
    
    
    
    <p class="content">At Star Web Front, our purpose is to empower businesses and individuals to achieve online greatness.</p>
    </div>
    </div>
    
    
    
    <div class="d-flex gap-5 mt-4 flex-wrap">
    <div class="">
    <div class=" svg-block"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
      <path d="M12.25 36.75V33.25H19.25V27.825C17.8208 27.5042 16.5445 26.8987 15.421 26.0085C14.2975 25.1183 13.4738 24.003 12.95 22.6625C10.7625 22.4 8.932 21.4451 7.4585 19.7977C5.985 18.1504 5.24883 16.2178 5.25 14V12.25C5.25 11.2875 5.593 10.4632 6.279 9.77725C6.965 9.09125 7.78867 8.74883 8.75 8.75H12.25V5.25H29.75V8.75H33.25C34.2125 8.75 35.0368 9.093 35.7227 9.779C36.4088 10.465 36.7512 11.2887 36.75 12.25V14C36.75 16.2167 36.0132 18.1493 34.5397 19.7977C33.0662 21.4462 31.2363 22.4012 29.05 22.6625C28.525 24.0042 27.7008 25.1201 26.5773 26.0103C25.4538 26.9004 24.178 27.5053 22.75 27.825V33.25H29.75V36.75H12.25ZM12.25 18.9V12.25H8.75V14C8.75 15.1083 9.07083 16.1076 9.7125 16.9978C10.3542 17.8879 11.2 18.522 12.25 18.9ZM21 24.5C22.4583 24.5 23.6979 23.9896 24.7188 22.9688C25.7396 21.9479 26.25 20.7083 26.25 19.25V8.75H15.75V19.25C15.75 20.7083 16.2604 21.9479 17.2813 22.9688C18.3021 23.9896 19.5417 24.5 21 24.5ZM29.75 18.9C30.8 18.5208 31.6458 17.8862 32.2875 16.996C32.9292 16.1058 33.25 15.1072 33.25 14V12.25H29.75V18.9Z" fill="#2898DA"></path>
    </svg>
    <div class="svg-content">
    <p>25+</p> 
    <p>Experience Year</p>
    </div>
    </div>
    </div>
    
    
    
    <div class="">
    <div class=" svg-block"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
      <path d="M26.6167 23.05C25.125 23.9195 23.8889 25.167 23.0333 26.6667L19.25 19.3834L12.7667 25.8334L13.3333 30L11.5833 31.7667L8.63334 26.45L3.33334 23.5167L5.10001 21.75L9.23334 22.3334L15.7167 15.8334L3.33334 9.36671L5.68334 7.01672L21.0167 10.55L27.5 4.06672C27.731 3.8329 28.0061 3.64726 28.3094 3.52056C28.6126 3.39386 28.938 3.32861 29.2667 3.32861C29.5953 3.32861 29.9207 3.39386 30.224 3.52056C30.5273 3.64726 30.8024 3.8329 31.0333 4.06672C32 5.05005 32 6.66671 31.0333 7.60005L24.55 14.0834L26.6167 23.05ZM35.5667 26.4L29.5833 32.3834L26.9333 29.7334L25 31.6667L29.5833 36.6667L37.5 28.75L35.5667 26.4Z" fill="#2898DA"></path>
    </svg>
    <div class="svg-content">
    <p>550+</p> <p>Successful Projects</p> 
    </div>
    </div>
    </div>
    
    
    
    <div class="">
    <div class=" svg-block"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
      <path d="M36.6666 28.3367C36.6659 30.616 35.8868 32.8266 34.4584 34.6027C33.0299 36.3788 31.0377 37.6139 28.8116 38.1034L27.7483 34.9134C28.722 34.753 29.6481 34.3786 30.4596 33.8172C31.2712 33.2558 31.9482 32.5213 32.4416 31.6667H28.3333C27.4493 31.6667 26.6014 31.3155 25.9763 30.6904C25.3512 30.0653 25 29.2174 25 28.3334V21.6667C25 20.7827 25.3512 19.9348 25.9763 19.3097C26.6014 18.6846 27.4493 18.3334 28.3333 18.3334H33.23C32.8233 15.1115 31.2548 12.1488 28.819 10.0012C26.3832 7.85351 23.2474 6.6685 20 6.6685C16.7526 6.6685 13.6168 7.85351 11.1809 10.0012C8.74511 12.1488 7.1767 15.1115 6.76998 18.3334H11.6666C12.5507 18.3334 13.3985 18.6846 14.0237 19.3097C14.6488 19.9348 15 20.7827 15 21.6667V28.3334C15 29.2174 14.6488 30.0653 14.0237 30.6904C13.3985 31.3155 12.5507 31.6667 11.6666 31.6667H6.66665C5.78259 31.6667 4.93474 31.3155 4.30962 30.6904C3.6845 30.0653 3.33331 29.2174 3.33331 28.3334V20C3.33331 10.795 10.795 3.33337 20 3.33337C29.205 3.33337 36.6666 10.795 36.6666 20V28.3367ZM33.3333 28.3334V21.6667H28.3333V28.3334H33.3333ZM6.66665 21.6667V28.3334H11.6666V21.6667H6.66665Z" fill="#2898DA"></path>
    </svg>
    <div class="svg-content">
    <p>800+</p> <p>Happy Customers</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>