<div class="container-fluid px-0 hero-image">

    <div class="hero-text">
    <h1 class="banner-heading">Fuel Your Growth with Expert <strong>Web Development</strong> and <strong>Marketing Strategies</strong></h1>
    
    
    
    <p class="banner-content">Experience the Power of Star Web Front today! Let us take your brand to new heights with our exceptional web development expertise and marketing prowess.</p>
    
    
    
    <p class="banner-btn"><a href="#">Request a Quote</a></p>
    </div>
</div>
     
    
    
 
