<header class="nav-header">
    <div class="container-fluid py-2 px-4">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-lg-4 text-center text-lg-start web-logo"><a href="http://localhost/wordpress-class/" class="custom-logo-link" rel="home" aria-current="page"><img width="179" height="73" src="http://localhost/wordpress-class/wp-content/uploads/2023/08/starweb-logo.png" class="custom-logo" alt="My Website" decoding="async"></a></div>
        <div class="col-lg-4 my-2 my-lg-0 nav-outer-container">
        <div class="container-nav"><ul id="menu-header" class="main-nav d-flex justify-content-between align-items-center list-unstyled"><li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-16 nav-item active"><a href="http://localhost/wordpress-class/" aria-current="page" class="nav-link">Home</a></li>
    <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-35 nav-item active"><a href="http://localhost/wordpress-class/blogs/" class="nav-link">Blog</a>
    <ul class="sub-menu">
        <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38 nav-item active"><a href="http://localhost/wordpress-class/blog/seo/" class="nav-link">SEO</a></li>
        <li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39 nav-item active"><a href="http://localhost/wordpress-class/blog/web-design/" class="nav-link">Web Design</a></li>
        <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40 nav-item active"><a href="http://localhost/wordpress-class/blog/web-development/" class="nav-link">Web Development</a></li>
    </ul>
    </li>
    <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-17 nav-item active"><a href="http://localhost/wordpress-class/contact-us/" class="nav-link">Contact Us</a>
    <ul class="sub-menu">
        <li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22 nav-item active"><a href="#" class="nav-link">Service</a></li>
    </ul>
    </li>
    <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-18 nav-item active"><a href="http://localhost/wordpress-class/team/" class="nav-link">Team</a>
    <ul class="sub-menu">
        <li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21 nav-item active"><a href="#" class="nav-link">Blog</a></li>
        <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23 nav-item active"><a href="#" class="nav-link">Portfolio</a></li>
    </ul>
    </li>
    </ul>

    </div>    

</div>
        <div class="col-lg-4 text-center text-lg-end contact-btn"><a href="#" class="btn btn-primary">Link Button</a></div>
      </div>
    </div>
        </header>